@font-face
{
	font-family:myFont;
	src:url('../font/YaHeiLight/YaHeiLight.ttf'),
		url('../font/YaHeiLight/YaHeiLight.svg'),
		url('../font/YaHeiLight/YaHeiLight.eot'),
		url('../font/YaHeiLight/YaHeiLight.woff');
}

::-webkit-input-placeholder { /* WebKit browsers */  
    color:black;  
    opacity:0.6;
} 

.D3Button{
	cursor:pointer;
	position:absolute;
	left:250px;
	top:5px;
	font-family:myFont;
 	padding:3px 5px; 
	border-width:0px;
	border-radius:30px;
	outline:none;
	background:black;
	color:white;
	opacity:0.8;
}

.D3Button:hover{
	background:#FF7F00;
	opacity:1;
}

body{
	margin:0px;
	padding:0px;
	background:url(../img/background1366.jpg);
	background-repeat:no-repeat;
	background-size:auto auto;
}

#main{
	position:relative;
	height:600px;
	width:1300px;
}

#header{
	position:relative;
	width:1366px;
	height:60px;
	top:0px;
	left:0px;
	margin:0px;
	padding:0px;
	background-color: black;
}

#header #smalllogo{
	float:left;
	position:relative;
	width:129.7px;
	height:60px;
	top:0px;
	left:120px;
	margin:0px;
	padding:0px;
}

#header #nav{
	position:relative;
	width:750px;
	height:80px;
	top:19px;
	left:600px;
}

#header #nav ul li{
	float:left;
	list-style:none;
	padding:0px 30px;
	text-align:center;
}

#header #nav ul li a:link,a:visited{
	text-decoration:none;
	font-family:myFont;
	color:white;
}

#header #nav ul li a:hover{
	text-decoration:none;
	color:#FF7F00;
}

.cls{
clear:both;
}

.curBg {
	background:#FF7F00;
	height:3px;
	position:absolute;
	bottom:0;
	width:124px;
	top:38px;
	left:469.688px;
}

#Selector{
	position:relative;
	top:0px;
	left:160px;
	width:1035px;
	height:50px;
}

#Selector ul{
	display:inline-block;
}

#Selector ul li{
	float:left;
	list-style:none;
	padding:0px 210px;
	text-align:center;
}

#Selector ul li a:link,a:visited{
	text-decoration:none;
	font-family:myFont;
	font-size:18px;
	color:white;
}

#Selector ul li a:hover{
	text-decoration:none;
	color:#FF7F00;;
	font-family:myFont;
}

.Soncls{
	clear:both;
}

.SoncurBg {
	background:#FF7F00;
	height:3px;
	position:absolute;
	bottom:0;
	width:456px;
	top:48px;
	left:496px;
}

#PredicateSearch{
	position:relative;
	top:10px;
	left:200px;
	width:1000px;
	height:50px;
}


#doSearch{
	position:relative;
	top:5px;
}

#PredicateSearchContent{
	position:relative;
	top:0px;
	width:460px;
	height:40px;
	font-family:myFont;
	font-size:18px;
	border-radius:20px;
	border-width:0px;
	outline:none;
	padding-left:10px;
	background-color:rgba(255,255,255,0.5);
}

#PredicateSearchImage{
	position:relative;
	top:7px;
	left:-50px;
	height:25px;
	width:25px;
	outline:none;
}

#PredicateSearchImage:hover{
	opacity:0.5;
}

#myRadio{
	position:relative;
	top:6px;
	left:50px;
	font-family:myFont;
	font-size:17px;
	color:white;
}

select{
	cursor:pointer;
	padding:6px 6px;
	font-family:myFont;
	font-size:15.5px;
	overflow:hidden;
	background-color:rgba(202,176,176,0.5);
	outline:none;
	border-width:0px;
	border-radius:10px;	
}

#PredicateSearchResult{
	position:relative;
	top:20px;
	left:160px;
	width:350px;
	height:240px;
	border-width:0px;
	border-radius:30px;
	background-color:rgba(255,255,255,0.5);
}

#PredicateSearchResultTitle{
	position:relative;
	width:350px;
	height:50px;
	border-width:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	background-color:rgba(255,255,255,0.8);
}

#PredicateSearchResultTitleContent{
	position:relative;
	top:13.5px;
	left:35px;
	font-family:myFont;
	font-size:18px;
}

#PredicateSearchResultContent{
	position:relative;
	width:350px;
	height:190px;
	border-width:0px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	font-family:myFont;
	overflow:auto;
}


#PredicateSearchHistory{
	position:relative;
	top:30px;
	left:160px;
	width:350px;
	height:200px;
	border-width:0px;
	border-radius:30px;
	background-color:rgba(255,255,255,0.5);
}

#PredicateSearchHistoryTitle{
	position:relative;
	width:350px;
	height:45px;
	border-width:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	background-color:rgba(255,255,255,0.8);
}

#PredicateSearchHistoryTitleContent{
	position:relative;
	top:10px;
	left:35px;
	font-family:myFont;
	font-size:18px;
}

#PredicateSearchClearHistory{
	cursor:pointer;
	position:relative;
	top:9.5px;
	left:188px;
	padding-left:12px;
	padding-right:12px;
	border-radius:30px;
	border-width:0px;
	background-color:rgba(255,255,255,1);
	font-family:myFont;
	font-size:16px;
	outline:none;
}

#PredicateSearchClearHistory:hover{
	background:#3D4A39;
	opacity:0.8;
	color:white;
}

#PredicateSearchHistoryContent{
	position:relative;
	width:350px;
	height:155px;
	border-width:0px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	font-family:myFont;
	overflow:auto;
}

#PredicateSearchD3{
	position:absolute;
	top:120px;
	left:535px;
	width:645px;
	height:450px;
	border-radius:30px;
	background-color:rgba(255,255,255,0.5);
}

#PredicateSearchD3Title{
	position:relative;
	top:0px;
	left:0px;
	height:50px;
	width:645px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	background-color:rgba(255,255,255,0.8);
	border-width:0px;
}

#PredicateSearchD3TitleContent{
	position:relative;
	top:13px;
	left:35px;
	font-family:myFont;
	font-size:18px;
}

#PredicateSearchD3Content{
	position:relative;
	width:645px;
	height:400px;
	border-width:0px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	font-family:myFont;
	overflow:hidden;
}

#PredicateSearchButton{
	cursor:pointer;
	position:relative;
	left:30px;
	font-family:myFont;
	font-size:16px;
	padding:5px 13px;
	border-width:0px;
	border-radius:20px;
	outline:none;
}

#PredicateSearchButton:hover{
	background:#FF7F00;
	color:white;
}

#Footer{
	position:absolute;
	top:583px;
	left:275px;
	width:800px;
	height:30px;
	font-size:10px;
	margin:0px;
	padding:0px;
	text-align:center;
	font-family:myFont;
	font-size:16px;
}